// Property and Roots For Glass Button
@property --angle-1 {
	syntax: "<angle>";
	inherits: false;
	initial-value: -75deg;
}
@property --angle-2 {
	syntax: "<angle>";
	inherits: false;
	initial-value: -45deg;
}
:root {
	--global--size: clamp(2rem, 4vw, 5rem);
	--anim--hover-time: 400ms;
	--anim--hover-ease: cubic-bezier(0.25, 1, 0.5, 1);
}
// Main Styles For Glass Button
.buttonWrap {
	display: inline-flex;
	position: relative;
	z-index: 2;
	border-radius: 999vw;
	background: transparent;
	pointer-events: none;
	transition: all var(--anim--hover-time) var(--anim--hover-ease);
}
.buttonShadow {
	--shadow-cuttoff-fix: 2em;
	position: absolute;
	width: calc(100% + var(--shadow-cuttoff-fix));
	height: calc(100% + var(--shadow-cuttoff-fix));
	top: calc(0% - var(--shadow-cuttoff-fix) / 2);
	left: calc(0% - var(--shadow-cuttoff-fix) / 2);
	filter: blur(clamp(2px, 0.125em, 12px));
	pointer-events: none;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: 999vw;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
		width: calc(100% - var(--shadow-cuttoff-fix) - 0.25em);
		height: calc(100% - var(--shadow-cuttoff-fix) - 0.25em);
		top: calc(var(--shadow-cuttoff-fix) - 0.5em);
		left: calc(var(--shadow-cuttoff-fix) - 0.875em);
		padding: 0.125em;
		box-sizing: border-box;
		mask:
			linear-gradient(#000 0 0) content-box,
			linear-gradient(#000 0 0);
		mask-composite: exclude;
		transition: all var(--anim--hover-time) var(--anim--hover-ease);
		opacity: 1;
	}
}
.button {
	--border-width: clamp(1px, 0.0625em, 4px);
	all: unset;
	cursor: pointer;
	position: relative;
	pointer-events: auto;
	z-index: 3;
	border-radius: 999vw;
	background: linear-gradient(-75deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
	box-shadow:
		inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
		inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
		0 0.25em 0.125em -0.125em rgba(0, 0, 0, 0.2),
		0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
		0 0 0 0 rgba(255, 255, 255, 1);
	backdrop-filter: blur(clamp(1px, 0.125em, 4px));
	transition: all var(--anim--hover-time) var(--anim--hover-ease);

	&:hover {
		transform: scale(0.975);
		box-shadow:
			inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
			inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
			0 0.15em 0.05em -0.1em rgba(0, 0, 0, 0.25),
			0 0 0.05em 0.1em inset rgba(255, 255, 255, 0.5);
	}

	span {
		position: relative;
		display: block;
		font-family: "Inter", sans-serif;
		font-weight: 500;
		letter-spacing: -0.05em;
		color: rgba(50, 50, 50, 1);
		text-shadow: 0em 0.25em 0.05em rgba(0, 0, 0, 0.1);
		padding: 0.875em 1.5em;
		transition: all var(--anim--hover-time) var(--anim--hover-ease);

		&:hover {
			text-shadow: 0.025em 0.025em 0.025em rgba(0, 0, 0, 0.12);
		}

		&::after {
			content: "";
			position: absolute;
			width: calc(100% - var(--border-width));
			height: calc(100% - var(--border-width));
			top: calc(var(--border-width) / 2);
			left: calc(var(--border-width) / 2);
			border-radius: 999vw;
			background: linear-gradient(
				var(--angle-2),
				rgba(255, 255, 255, 0) 0%,
				rgba(255, 255, 255, 0.5) 40% 50%,
				rgba(255, 255, 255, 0) 55%
			);
			mix-blend-mode: screen;
			pointer-events: none;
			background-size: 200% 200%;
			background-position: 0% 50%;
			transition:
				background-position calc(var(--anim--hover-time) * 1.25) var(--anim--hover-ease),
				--angle-2 calc(var(--anim--hover-time) * 1.25) var(--anim--hover-ease);
		}
	}
}
.button:hover span::after {
	background-position: 25% 50%;
}
.button:active span::after {
	background-position: 50% 15%;
	--angle-2: -15deg;
}
.button::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 999vw;
	width: calc(100% + var(--border-width));
	height: calc(100% + var(--border-width));
	top: calc(-1 * var(--border-width) / 2);
	left: calc(-1 * var(--border-width) / 2);
	padding: var(--border-width);
	background:
		conic-gradient(
			from var(--angle-1),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0) 5% 40%,
			rgba(0, 0, 0, 0.5) 50%,
			rgba(0, 0, 0, 0) 60% 95%,
			rgba(0, 0, 0, 0.5)
		),
		linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
	mask:
		linear-gradient(#000 0 0) content-box,
		linear-gradient(#000 0 0);
	mask-composite: exclude;
	transition:
		all var(--anim--hover-time) var(--anim--hover-ease),
		--angle-1 500ms ease;
}
.button:hover::after {
	--angle-1: -125deg;
}
.button:active::after {
	--angle-1: -75deg;
}
.buttonWrap:has(.button:hover) .buttonShadow {
	filter: blur(clamp(2px, 0.0625em, 6px));
}
.buttonWrap:has(.button:hover) .buttonShadow::after {
	top: calc(var(--shadow-cuttoff-fix) - 0.875em);
}
.buttonWrap:has(.button:active) {
	transform: rotate3d(1, 0, 0, 25deg);
}
.buttonWrap:has(.button:active) .buttonShadow::after {
	top: calc(var(--shadow-cuttoff-fix) - 0.5em);
	opacity: 0.75;
}
