* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
	text-decoration: none;
}

a {
	color: inherit;
	text-decoration: none;
}

input,
button {
	cursor: pointer;
	border: none;
	background-color: inherit;
}
