// Input
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	height: 50px;
	outline: none;
	display: block;
	border-radius: 10px;
	padding-inline: 18px;
	caret-color: inherit;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.02);
	box-shadow:
		rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
		rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.input[placeholder]:not([data-fls-placeholder-nohiden]) {
	&::placeholder {
		color: gray;
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}
textarea.input {
	resize: vertical;
	padding: 0px 0px;
}
