/* ОСНОВНОЙ КАРКАС СТРАНИЦЫ */
html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Courier New', Courier, monospace, sans-serif;
	line-height: 1.3;
	font-size: 18px;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* main растягивается, footer прижимается вниз */
main {
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
	margin-top: auto;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1400px;
}
