* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
dt {
	color: inherit;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	background-color: inherit;
}

a,
button {
	&:focus {
		// outline: none;
	}
	&:active {
		// outline: none;
	}
}

.input {
	border: none;
	background-color: inherit;
}
