@use "./settings.scss" as *;
@use "sass:math";

html {
	--units: 1.5vmax;
	--brick1: #ffffff;
	--brick2: #ffffff;
	--lines: #f0f0f0;
	--gp-ln: 50% / calc(var(--units) * 10) calc(var(--units) * 5);
	--gp-cn: 50% / calc(var(--units) * 5) calc(var(--units) * 5);
	background:
		repeating-conic-gradient(from 90deg at 95% 55%, var(--lines) 0% 25%, #fff0 0% 100%) var(--gp-cn),
		repeating-linear-gradient(180deg, var(--lines) 0 5%, #fff0 0 50%, var(--lines) 0 55%, var(--brick2) 0 100%)
			var(--gp-ln),
		repeating-linear-gradient(
				90deg,
				var(--brick1) 0 47.5%,
				var(--lines) 0 50%,
				var(--brick1) 0 97.5%,
				var(--lines) 0 100%
			)
			var(--gp-ln);
}

body {
	min-width: #{$minWidth}px;
	color: $mainColor;
	font-family: $fontFamily;
	font-size: #{$fontSize}px;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
	> main {
		flex: 1 1 auto;
	}
	> * {
		min-width: 0;
	}
}

@mixin container() {
	margin: 0 auto;
	@if ($maxWidthContainer > 0) {
		max-width: #{$containerWidth}px;
	}
	@if ($containerPadding > 0) {
		padding-left: #{math.div($containerPadding, 2)}px;
		padding-right: #{math.div($containerPadding, 2)}px;
	}
	@if ($responsiveType == 1) {
		@if ($maxWidthContainer == 0 and $containerPadding > 0) {
			// Адаптивный padding, если контейнер резиновый
			@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
			@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
		}
	} @else {
		@media (max-width: toEm($pc)) {
			max-width: 970px;
		}

		@media (max-width: toEm($tablet)) {
			max-width: 750px;
		}

		@media (max-width: toEm($mobile)) {
			max-width: none;

			@if ($containerPadding > 0 and $maxWidthContainer > 0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
	}
}

[class*="__container"] {
	@include container();
}
